# Zillow Clustering Project

#### Robert Murphy

#### June 22 2021
_________________________________

------------------------------------

# Imports:

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LassoLars
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import TweedieRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import explained_variance_score

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
import explore
import zillow_wrangle
import prepare

In [2]:
# using a function which contains a implmentied sql query to bring in th dataset.
zillow_df = acquire.get_zillow_cached()
zillow_df= zillow_df.loc[:, ~zillow_df.columns.duplicated()]

zillow_df.head(1)

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,propertylandusedesc,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,1727539,14297519,nan,nan,nan,3.50,4.00,None,nan,3.50,...,"60,590,630,072,012.00",0.03,2017-01-01,Single Family Residential,None,None,None,None,None,None

In [3]:
zillow_df.set_index('parcelid', inplace = True)

In [4]:
# 52,968 records x 67 fields
zillow_df.shape

(52953, 67)

In [5]:
zillow_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,"52,953.00","1,497,097.55","859,452.25",349.00,"757,502.00","1,500,314.00","2,241,055.00","2,982,270.00"
airconditioningtypeid,"13,650.00",2.44,3.84,1.00,1.00,1.00,1.00,13.00
architecturalstyletypeid,70.00,7.10,2.67,2.00,7.00,7.00,7.00,21.00
basementsqft,50.00,679.72,689.70,38.00,273.00,515.00,796.50,"3,560.00"
bathroomcnt,"52,953.00",2.29,1.02,0.00,2.00,2.00,3.00,18.00
bedroomcnt,"52,953.00",3.29,0.96,0.00,3.00,3.00,4.00,14.00
buildingqualitytypeid,"33,807.00",6.27,1.72,1.00,5.00,6.00,8.00,12.00
calculatedbathnbr,"52,748.00",2.30,1.02,1.00,2.00,2.00,3.00,18.00
decktypeid,415.00,66.00,0.00,66.00,66.00,66.00,66.00,66.00
finishedfloor1squarefeet,"4,724.00","1,508.89",670.26,66.00,"1,112.00","1,383.00","1,718.00","6,912.00"
calculatedfinishedsquarefeet,"52,822.00","1,918.81","1,002.15",128.00,"1,266.00","1,653.00","2,300.00","21,929.00"
finishedsquarefeet12,"52,614.00","1,921.33","1,002.34",128.00,"1,268.00","1,656.00","2,302.00","21,929.00"
finishedsquarefeet13,42.00,"1,388.76",122.22,"1,056.00","1,344.00","1,440.00","1,440.00","1,560.00"
finishedsquarefeet50,"4,724.00","1,528.15",736.46,66.00,"1,115.00","1,386.50","1,724.00","12,467.00"
finishedsquarefeet6,166.00,"1,252.81",789.20,380.00,790.75,"1,010.00","1,320.75","5,598.00"
fips,"52,953.00","6,049.58",21.61,"6,037.00","6,037.00","6,037.00","6,059.00","6,111.00"
fireplacecnt,"7,412.00",1.21,0.51,1.00,1.00,1.00,1.00,5.00
fullbathcnt,"52,748.00",2.24,0.99,1.00,2.00,2.00,3.00,18.00
garagecarcnt,"18,391.00",1.94,0.55,0.00,2.00,2.00,2.00,14.00
garagetotalsqft,"18,391.00",485.69,170.61,0.00,421.00,462.00,560.00,"4,251.00"
hashottuborspa,"1,515.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
heatingorsystemtypeid,"33,951.00",3.97,2.56,1.00,2.00,2.00,7.00,24.00
latitude,"52,953.00","34,024,664.57","273,867.82","33,340,620.00","33,828,401.00","34,028,634.00","34,189,388.00","34,818,767.00"
longitude,"52,953.00","-118,200,534.66","362,559.38","-119,475,416.00","-118,405,624.00","-118,156,695.00","-117,931,045.00","-117,554,636.00"
lotsizesquarefeet,"52,540.00","11,416.94","86,608.80",236.00,"5,539.00","6,822.50","8,775.25","6,971,010.00"
poolcnt,"11,100.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
poolsizesum,867.00,518.32,156.47,24.00,424.50,500.00,600.00,"1,500.00"
pooltypeid10,444.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid2,"1,071.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid7,"10,013.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
propertylandusetypeid,"52,953.00",261.04,0.57,260.00,261.00,261.00,261.00,275.00
rawcensustractandblock,"52,953.00","60,498,900.70","214,511.87","60,371,011.10","60,374,013.04","60,376,206.02","60,590,423.33","61,110,091.00"
regionidcity,"51,916.00","33,524.00","48,978.83","3,491.00","12,447.00","24,812.00","40,227.00","396,556.00"
regionidcounty,"52,953.00","2,521.92",801.68,"1,286.00","1,286.00","3,101.00","3,101.00","3,101.00"
regionidneighborhood,"19,093.00","180,265.15","160,099.65","6,952.00","41,131.00","118,208.00","274,514.00","764,167.00"
regionidzip,"52,926.00","96,638.90","4,583.05","95,982.00","96,208.00","96,415.00","96,996.00","399,675.00"
roomcnt,"52,953.00",1.91,3.15,0.00,0.00,0.00,5.00,15.00
storytypeid,50.00,7.00,0.00,7.00,7.00,7.00,7.00,7.00
threequarterbathnbr,"6,828.00",1.01,0.14,1.00,1.00,1.00,1.00,7.00
typeconstructiontypeid,76.00,5.97,0.23,4.00,6.00,6.00,6.00,6.00
unitcnt,"33,919.00",1.00,0.04,1.00,1.00,1.00,1.00,4.00
yardbuildingsqft17,"2,080.00",329.28,244.82,11.00,200.00,270.00,390.50,"3,191.00"
yardbuildingsqft26,65.00,229.74,190.83,12.00,72.00,180.00,320.00,868.00
yearbuilt,"52,789.00","1,963.54",23.10,"1,878.00","1,950.00","1,961.00","1,979.00","2,016.00"
numberofstories,"14,905.00",1.41,0.54,1.00,1.00,1.00,2.00,6.00
fireplaceflag,81.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
structuretaxvaluedollarcnt,"52,857.00","196,281.23","254,423.91",129.00,"77,202.00","131,623.00","225,467.00","9,164,901.00"
taxvaluedollarcnt,"52,952.00","528,070.05","750,100.31","1,000.00","193,414.75","371,398.50","615,863.50","49,061,236.00"
assessmentyear,"52,953.00","2,016.00",0.00,"2,016.00","2,016.00","2,016.00","2,016.00","2,016.00"
landtaxvaluedollarcnt,"52,951.00","332,147.24","568,620.30",161.00,"75,935.50","216,449.00","406,255.00","48,952,198.00"
taxamount,"52,949.00","6,431.82","8,736.58",49.18,"2,643.47","4,620.24","7,349.21","586,639.30"
taxdelinquencyyear,"2,084.00",14.10,2.39,4.00,14.00,15.00,15.00,99.00
censustractandblock,"52,825.00","60,506,815,608,743.70","1,850,855,423,554.45","60,371,011,101,000.00","60,374,013,121,004.00","60,376,206,024,003.00","60,590,423,331,067.00","483,030,105,084,015.00"
logerror,"52,953.00",0.02,0.18,-4.66,-0.02,0.01,0.04,5.26

In [6]:
# looking into duplicates and missing values
# right away there is several columns which contain a high number of missing values.
#  
prepare.miss_dup_values(zillow_df)

Your selected dataframe has 67 columns.
There are 52 columns that have missing values.

** There are 0 duplicate rows that represents 0.0% of total Values**

                              Missing Values    % of Total Values
buildingclasstypeid                    52953               100.00
buildingclassdesc                      52953               100.00
finishedsquarefeet15                   52953               100.00
finishedsquarefeet13                   52911                99.90
basementsqft                           52903                99.90
storydesc                              52903                99.90
storytypeid                            52903                99.90
yardbuildingsqft26                     52888                99.90
architecturalstyletypeid               52883                99.90
architecturalstyledesc                 52883                99.90
typeconstructiondesc                   52877                99.90
typeconstructiontypeid                 52877                99.90
fireplaceflag                          52872                99.80
finishedsquarefeet6                    52787                99.70
decktypeid                             52538                99.20
pooltypeid10                           52509                99.20
poolsizesum                            52086                98.40
pooltypeid2                            51882                98.00
hashottuborspa                         51438                97.10
yardbuildingsqft17                     50873                96.10
taxdelinquencyflag                     50869                96.10
taxdelinquencyyear                     50869                96.10
finishedfloor1squarefeet               48229                91.10
finishedsquarefeet50                   48229                91.10
threequarterbathnbr                    46125                87.10
fireplacecnt                           45541                86.00
pooltypeid7                            42940                81.10
poolcnt                                41853                79.00
airconditioningdesc                    39303                74.20
airconditioningtypeid                  39303                74.20
numberofstories                        38048                71.90
garagetotalsqft                        34562                65.30
garagecarcnt                           34562                65.30
regionidneighborhood                   33860                63.90
buildingqualitytypeid                  19146                36.20
unitcnt                                19034                35.90
propertyzoningdesc                     19006                35.90
heatingorsystemtypeid                  19002                35.90
heatingorsystemdesc                    19002                35.90
regionidcity                            1037                 2.00
lotsizesquarefeet                        413                 0.80
finishedsquarefeet12                     339                 0.60
calculatedbathnbr                        205                 0.40
fullbathcnt                              205                 0.40
yearbuilt                                164                 0.30
calculatedfinishedsquarefeet             131                 0.20
censustractandblock                      128                 0.20
structuretaxvaluedollarcnt                96                 0.20
regionidzip                               27                 0.10
taxamount                                  4                 0.00
landtaxvaluedollarcnt                      2                 0.00
taxvaluedollarcnt                          1                 0.00

In [7]:
prepare.summarize(zillow_df)

===================================================
Dataframe head:
               id  airconditioningtypeid  architecturalstyletypeid  \
parcelid
14297519  1727539                    nan                       nan
17052889  1387261                    nan                       nan
14186244    11677                    nan                       nan
12177905  2288172                    nan                       nan
12095076   781532                   1.00                       nan
12069064   870991                    nan                       nan
12790562  1246926                    nan                       nan
11104527  1639362                   1.00                       nan
13944538   249412                  13.00                       nan
17110996    43675                    nan                       nan

                 basementsqft          bathroomcnt           bedroomcnt  \
parcelid
14297519                  nan                 3.50                 4.00
17052889                  nan                 1.00                 2.00
14186244                  nan                 2.00                 3.00
12177905                  nan                 3.00                 4.00
12095076                  nan                 3.00                 4.00
12069064                  nan                 1.00                 2.00
12790562                  nan                 3.00                 4.00
11104527                  nan                 3.00                 4.00
13944538                  nan                 2.50                 3.00
17110996                  nan                 2.50                 3.00

         buildingclasstypeid  buildingqualitytypeid    calculatedbathnbr  \
parcelid
14297519                None                    nan                 3.50
17052889                None                    nan                 1.00
14186244                None                    nan                 2.00
12177905                None                   8.00                 3.00
12095076                None                   9.00                 3.00
12069064                None                   5.00                 1.00
12790562                None                   9.00                 3.00
11104527                None                   8.00                 3.00
13944538                None                    nan                 2.50
17110996                None                    nan                 2.50

                   decktypeid  ...   censustractandblock             logerror  \
parcelid                       ...
14297519                  nan  ... 60,590,630,072,012.00                 0.03
17052889                  nan  ... 61,110,010,023,006.00                 0.06
14186244                  nan  ... 60,590,218,022,012.00                 0.01
12177905                  nan  ... 60,373,001,001,006.00                -0.10
12095076                  nan  ... 60,374,608,001,014.00                -0.00
12069064                  nan  ... 60,373,020,041,001.00                 0.10
12790562                  nan  ... 60,375,002,024,006.00                -0.04
11104527                  nan  ... 60,379,200,341,014.00                 0.01
13944538                  nan  ... 60,590,888,014,006.00                 0.05
17110996                  nan  ... 61,110,050,041,163.00                 0.01

          transactiondate        propertylandusedesc airconditioningdesc  \
parcelid
14297519       2017-01-01  Single Family Residential                None
17052889       2017-01-01  Single Family Residential                None
14186244       2017-01-01  Single Family Residential                None
12177905       2017-01-01  Single Family Residential                None
12095076       2017-01-01  Single Family Residential             Central
12069064       2017-01-01  Single Family Residential                None
12790562       2017-01-02  Single Family Residential                None
11104527       2017-01-02  Single Family Residential             Central
13944538       2017-01-02  Single Family Residential                 Yes
17110996       2017-01-02  Single Family Residential                None

          architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
parcelid
14297519                    None               None                 None
17052889                    None               None                 None
14186244                    None               None                 None
12177905                    None               None              Central
12095076                    None               None              Central
12069064                    None               None                 None
12790562                    None               None              Central
11104527                    None               None              Central
13944538                    None               None                 None
17110996                    None               None                 None

          storydesc  typeconstructiondesc
parcelid
14297519       None                  None
17052889       None                  None
14186244       None                  None
12177905       None                  None
12095076       None                  None
12069064       None                  None
12790562       None                  None
11104527       None                  None
13944538       None                  None
17110996       None                  None

[10 rows x 67 columns]
===================================================
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 52953 entries, 14297519 to 12826780
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52953 non-null  int64
 1   airconditioningtypeid         13650 non-null  float64
 2   architecturalstyletypeid      70 non-null     float64
 3   basementsqft                  50 non-null     float64
 4   bathroomcnt                   52953 non-null  float64
 5   bedroomcnt                    52953 non-null  float64
 6   buildingclasstypeid           0 non-null      object
 7   buildingqualitytypeid         33807 non-null  float64
 8   calculatedbathnbr             52748 non-null  float64
 9   decktypeid                    415 non-null    float64
 10  finishedfloor1squarefeet      4724 non-null   float64
 11  calculatedfinishedsquarefeet  52822 non-null  float64
 12  finishedsquarefeet12          52614 non-null  float64
 13  finishedsquarefeet13          42 non-null     float64
 14  finishedsquarefeet15          0 non-null      object
 15  finishedsquarefeet50          4724 non-null   float64
 16  finishedsquarefeet6           166 non-null    float64
 17  fips                          52953 non-null  float64
 18  fireplacecnt                  7412 non-null   float64
 19  fullbathcnt                   52748 non-null  float64
 20  garagecarcnt                  18391 non-null  float64
 21  garagetotalsqft               18391 non-null  float64
 22  hashottuborspa                1515 non-null   float64
 23  heatingorsystemtypeid         33951 non-null  float64
 24  latitude                      52953 non-null  float64
 25  longitude                     52953 non-null  float64
 26  lotsizesquarefeet             52540 non-null  float64
 27  poolcnt                       11100 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  444 non-null    float64
 30  pooltypeid2                   1071 non-null   float64
 31  pooltypeid7                   10013 non-null  float64
 32  propertycountylandusecode     52953 non-null  object
 33  propertylandusetypeid         52953 non-null  float64
 34  propertyzoningdesc            33947 non-null  object
 35  rawcensustractandblock        52953 non-null  float64
 36  regionidcity                  51916 non-null  float64
 37  regionidcounty                52953 non-null  float64
 38  regionidneighborhood          19093 non-null  float64
 39  regionidzip                   52926 non-null  float64
 40  roomcnt                       52953 non-null  float64
 41  storytypeid                   50 non-null     float64
 42  threequarterbathnbr           6828 non-null   float64
 43  typeconstructiontypeid        76 non-null     float64
 44  unitcnt                       33919 non-null  float64
 45  yardbuildingsqft17            2080 non-null   float64
 46  yardbuildingsqft26            65 non-null     float64
 47  yearbuilt                     52789 non-null  float64
 48  numberofstories               14905 non-null  float64
 49  fireplaceflag                 81 non-null     float64
 50  structuretaxvaluedollarcnt    52857 non-null  float64
 51  taxvaluedollarcnt             52952 non-null  float64
 52  assessmentyear                52953 non-null  float64
 53  landtaxvaluedollarcnt         52951 non-null  float64
 54  taxamount                     52949 non-null  float64
 55  taxdelinquencyflag            2084 non-null   object
 56  taxdelinquencyyear            2084 non-null   float64
 57  censustractandblock           52825 non-null  float64
 58  logerror                      52953 non-null  float64
 59  transactiondate               52953 non-null  object
 60  propertylandusedesc           52953 non-null  object
 61  airconditioningdesc           13650 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      object
 64  heatingorsystemdesc           33951 non-null  object
 65  storydesc                     50 non-null     object
 66  typeconstructiondesc          76 non-null     object
dtypes: float64(53), int64(1), object(13)
memory usage: 27.5+ MB
None
===================================================
Dataframe Description:
                        id  airconditioningtypeid  architecturalstyletypeid  \
count            52,953.00              13,650.00                     70.00
mean          1,497,097.55                   2.44                      7.10
std             859,452.25                   3.84                      2.67
min                 349.00                   1.00                      2.00
25%             757,502.00                   1.00                      7.00
50%           1,500,314.00                   1.00                      7.00
75%           2,241,055.00                   1.00                      7.00
max           2,982,270.00                  13.00                     21.00

              basementsqft          bathroomcnt           bedroomcnt  \
count                50.00            52,953.00            52,953.00
mean                679.72                 2.29                 3.29
std                 689.70                 1.02                 0.96
min                  38.00                 0.00                 0.00
25%                 273.00                 2.00                 3.00
50%                 515.00                 2.00                 3.00
75%                 796.50                 3.00                 4.00
max               3,560.00                18.00                14.00

       buildingqualitytypeid    calculatedbathnbr           decktypeid  \
count              33,807.00            52,748.00               415.00
mean                    6.27                 2.30                66.00
std                     1.72                 1.02                 0.00
min                     1.00                 1.00                66.00
25%                     5.00                 2.00                66.00
50%                     6.00                 2.00                66.00
75%                     8.00                 3.00                66.00
max                    12.00                18.00                66.00

       finishedfloor1squarefeet  ...      numberofstories  \
count                  4,724.00  ...            14,905.00
mean                   1,508.89  ...                 1.41
std                      670.26  ...                 0.54
min                       66.00  ...                 1.00
25%                    1,112.00  ...                 1.00
50%                    1,383.00  ...                 1.00
75%                    1,718.00  ...                 2.00
max                    6,912.00  ...                 6.00

             fireplaceflag  structuretaxvaluedollarcnt    taxvaluedollarcnt  \
count                81.00                   52,857.00            52,952.00
mean                  1.00                  196,281.23           528,070.05
std                   0.00                  254,423.91           750,100.31
min                   1.00                      129.00             1,000.00
25%                   1.00                   77,202.00           193,414.75
50%                   1.00                  131,623.00           371,398.50
75%                   1.00                  225,467.00           615,863.50
max                   1.00                9,164,901.00        49,061,236.00

            assessmentyear  landtaxvaluedollarcnt            taxamount  \
count            52,953.00              52,951.00            52,949.00
mean              2,016.00             332,147.24             6,431.82
std                   0.00             568,620.30             8,736.58
min               2,016.00                 161.00                49.18
25%               2,016.00              75,935.50             2,643.47
50%               2,016.00             216,449.00             4,620.24
75%               2,016.00             406,255.00             7,349.21
max               2,016.00          48,952,198.00           586,639.30

        taxdelinquencyyear    censustractandblock             logerror
count             2,084.00              52,825.00            52,953.00
mean                 14.10  60,506,815,608,743.70                 0.02
std                   2.39   1,850,855,423,554.45                 0.18
min                   4.00  60,371,011,101,000.00                -4.66
25%                  14.00  60,374,013,121,004.00                -0.02
50%                  15.00  60,376,206,024,003.00                 0.01
75%                  15.00  60,590,423,331,067.00                 0.04
max                  99.00 483,030,105,084,015.00                 5.26

[8 rows x 54 columns]
===================================================
DataFrame value counts:
(-2632.922, 298541.1]     5224
(298541.1, 596733.2]      5207
(596733.2, 894925.3]      5195
(894925.3, 1193117.4]     5315
(1193117.4, 1491309.5]    5377
(1491309.5, 1789501.6]    5401
(1789501.6, 2087693.7]    5324
(2087693.7, 2385885.8]    5239
(2385885.8, 2684077.9]    5300
(2684077.9, 2982270.0]    5371
Name: id, dtype: int64
(0.987, 2.2]    11907
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        159
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]          0
(9.4, 10.6]         0
(10.6, 11.8]       16
(11.8, 13.0]     1568
Name: airconditioningtypeid, dtype: int64
(1.9800000000000002, 3.9]     5
(3.9, 5.8]                    0
(5.8, 7.7]                   62
(7.7, 9.6]                    1
(9.6, 11.5]                   0
(11.5, 13.4]                  0
(13.4, 15.3]                  0
(15.3, 17.2]                  0
(17.2, 19.1]                  0
(19.1, 21.0]                  2
Name: architecturalstyletypeid, dtype: int64
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
(-0.019, 1.8]    10654
(1.8, 3.6]       37802
(3.6, 5.4]        3718
(5.4, 7.2]         684
(7.2, 9.0]          85
(9.0, 10.8]          5
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
(-0.015, 1.4]      822
(1.4, 2.8]        8550
(2.8, 4.2]       38823
(4.2, 5.6]        3975
(5.6, 7.0]         741
(7.0, 8.4]          25
(8.4, 9.8]           8
(9.8, 11.2]          5
(11.2, 12.6]         3
(12.6, 14.0]         1
Name: bedroomcnt, dtype: int64
<bound method IndexOpsMixin.value_counts of parcelid
14297519    None
17052889    None
14186244    None
12177905    None
12095076    None
            ...
12412492    None
11000655    None
17239384    None
12773139    None
12826780    None
Name: buildingclasstypeid, Length: 52953, dtype: object>
(0.988, 2.1]       13
(2.1, 3.2]        152
(3.2, 4.3]       8157
(4.3, 5.4]       1514
(5.4, 6.5]      10303
(6.5, 7.6]       3442
(7.6, 8.7]       8275
(8.7, 9.8]       1125
(9.8, 10.9]       230
(10.9, 12.0]      596
Name: buildingqualitytypeid, dtype: int64
(0.982, 2.7]    36631
(2.7, 4.4]      13848
(4.4, 6.1]       2037
(6.1, 7.8]        153
(7.8, 9.5]         69
(9.5, 11.2]         8
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 415
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
(59.153000000000006, 750.6]     223
(750.6, 1435.2]                2363
(1435.2, 2119.8]               1589
(2119.8, 2804.4]                327
(2804.4, 3489.0]                133
(3489.0, 4173.6]                 41
(4173.6, 4858.2]                 26
(4858.2, 5542.8]                 12
(5542.8, 6227.4]                  6
(6227.4, 6912.0]                  4
Name: finishedfloor1squarefeet, dtype: int64
(106.198, 2308.1]     39744
(2308.1, 4488.2]      11850
(4488.2, 6668.3]       1007
(6668.3, 8848.4]        160
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64
(106.198, 2308.1]     39553
(2308.1, 4488.2]      11834
(4488.2, 6668.3]       1006
(6668.3, 8848.4]        160
(8848.4, 11028.5]        42
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 6
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
<bound method IndexOpsMixin.value_counts of parcelid
14297519    None
17052889    None
14186244    None
12177905    None
12095076    None
            ...
12412492    None
11000655    None
17239384    None
12773139    None
12826780    None
Name: finishedsquarefeet15, Length: 52953, dtype: object>
(53.598, 1306.1]      2041
(1306.1, 2546.2]      2360
(2546.2, 3786.3]       234
(3786.3, 5026.4]        61
(5026.4, 6266.5]        17
(6266.5, 7506.6]         7
(7506.6, 8746.7]         2
(8746.7, 9986.8]         1
(9986.8, 11226.9]        0
(11226.9, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
(374.781, 901.8]    57
(901.8, 1423.6]     72
(1423.6, 1945.4]    16
(1945.4, 2467.2]     8
(2467.2, 2989.0]     4
(2989.0, 3510.8]     4
(3510.8, 4032.6]     2
(4032.6, 4554.4]     2
(4554.4, 5076.2]     0
(5076.2, 5598.0]     1
Name: finishedsquarefeet6, dtype: int64
(6036.925, 6044.4]    34010
(6044.4, 6051.8]          0
(6051.8, 6059.2]      14146
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0

---------------------

### Main Takeaways:

- Utilized a function which contains sql query to bring in dataset.
- Right away can see several columns which are missing several values over 50%. It might be ideal to just drop these columns.
- Will probably just keep columns which contain 90% non null values.
- Three datatypes; integer, float and object. 
- Some of the fields can be changed to a categorical utilizing 0 and 1.

--------------

# Prepare:

In [8]:
### No need to drop duplicates since there currently is none.###

In [9]:
# utilizing function which drops columns and rows that do not contain <90% non null values.
# this resulted in the shape ofd the df being 52801 records x 28 fields
zillow_check = prepare.handle_missing_values(zillow_df)
zillow_df = prepare.handle_missing_values(zillow_df)
zillow_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52801 entries, 14297519 to 12826780
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52801 non-null  int64
 1   bathroomcnt                   52801 non-null  float64
 2   bedroomcnt                    52801 non-null  float64
 3   calculatedbathnbr             52731 non-null  float64
 4   calculatedfinishedsquarefeet  52794 non-null  float64
 5   finishedsquarefeet12          52597 non-null  float64
 6   fips                          52801 non-null  float64
 7   fullbathcnt                   52731 non-null  float64
 8   latitude                      52801 non-null  float64
 9   longitude                     52801 non-null  float64
 10  lotsizesquarefeet             52423 non-null  float64
 11  propertycountylandusecode     52801 non-null  object
 12  propertylandusetypeid         52801 non-null  float64
 13  rawcensustractandblock        52801 non-null  float64
 14  regionidcity                  51788 non-null  float64
 15  regionidcounty                52801 non-null  float64
 16  regionidzip                   52793 non-null  float64
 17  roomcnt                       52801 non-null  float64
 18  yearbuilt                     52760 non-null  float64
 19  structuretaxvaluedollarcnt    52730 non-null  float64
 20  taxvaluedollarcnt             52800 non-null  float64
 21  assessmentyear                52801 non-null  float64
 22  landtaxvaluedollarcnt         52800 non-null  float64
 23  taxamount                     52797 non-null  float64
 24  censustractandblock           52702 non-null  float64
 25  logerror                      52801 non-null  float64
 26  transactiondate               52801 non-null  object
 27  propertylandusedesc           52801 non-null  object
dtypes: float64(24), int64(1), object(3)
memory usage: 11.7+ MB

In [11]:
#dropping nan values
zillow_df.dropna(inplace = True )

In [14]:
# shape of dataframe is now 51059 records, 28 fields
zillow_df.shape

(51059, 28)

In [15]:
#To Do:
#Drops: propertylandusedesc,censustractandblock, assessmentyear,id, regionidcity
#Renames:  finishedsquarefeet12 rename to finished living area. Change fips to the county names. 
# Create columns for age of the house and drop year built.

In [16]:
zillow_df = prepare.remove_columns(zillow_df,['propertylandusedesc','censustractandblock', 'assessmentyear','id', 'regionidcity', 'roomcnt','propertylandusetypeid','calculatedbathnbr'])

In [17]:
# renaming two columns
zillow_df.rename(columns = {'finishedsquarefeet12':'finished_living_area', 'calculatedfinishedsquarefeet':'total_square_ft'}, inplace = True)

In [18]:
zillow_df.head(1).T

parcelid                               14297519
bathroomcnt                                3.50
bedroomcnt                                 4.00
total_square_ft                        3,100.00
finished_living_area                   3,100.00
fips                                   6,059.00
fullbathcnt                                3.00
latitude                          33,634,931.00
longitude                       -117,869,207.00
lotsizesquarefeet                      4,506.00
propertycountylandusecode                   122
rawcensustractandblock            60,590,630.07
regionidcounty                         1,286.00
regionidzip                           96,978.00
yearbuilt                              1,998.00
structuretaxvaluedollarcnt           485,713.00
taxvaluedollarcnt                  1,023,282.00
landtaxvaluedollarcnt                537,569.00
taxamount                             11,013.72
logerror                                   0.03
transactiondate                      2017-01-01

In [19]:
def get_counties(df):
    '''
    This function will create dummy variables out of the original fips column. 
    And return a dataframe with all of the original columns except regionidcounty.
    We will keep fips column for data validation after making changes. 
    New columns added will be 'LA', 'Orange', and 'Ventura' which are boolean 
    The fips ids are renamed to be the name of the county each represents. 
    '''
    # create dummy vars of fips id
    county_df = pd.get_dummies(df.fips)
    # rename columns by actual county name
    county_df.columns = ['LA', 'Orange', 'Ventura']
    # concatenate the dataframe with the 3 county columns to the original dataframe
    df_dummies = pd.concat([df, county_df], axis = 1)
    # drop regionidcounty and fips columns
    df_dummies = df_dummies.drop(columns = ['regionidcounty'])
    return df_dummies

In [20]:
get_counties(zillow_df)

,bathroomcnt,bedroomcnt,total_square_ft,finished_living_area,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,logerror,transactiondate,LA,Orange,Ventura
parcelid,,,,,,,,,,,,,,,,,,,,,
14297519,3.50,4.00,"3,100.00","3,100.00","6,059.00",3.00,"33,634,931.00","-117,869,207.00","4,506.00",122,...,"1,998.00","485,713.00","1,023,282.00","537,569.00","11,013.72",0.03,2017-01-01,0,1,0
17052889,1.00,2.00,"1,465.00","1,465.00","6,111.00",1.00,"34,449,266.00","-119,281,531.00","12,647.00",1110,...,"1,967.00","88,000.00","464,000.00","376,000.00","5,672.48",0.06,2017-01-01,0,0,1
14186244,2.00,3.00,"1,243.00","1,243.00","6,059.00",2.00,"33,886,168.00","-117,823,170.00","8,432.00",122,...,"1,962.00","85,289.00","564,778.00","479,489.00","6,488.30",0.01,2017-01-01,0,1,0
12177905,3.00,4.00,"2,376.00","2,376.00","6,037.00",3.00,"34,245,180.00","-118,240,722.00","13,038.00",0101,...,"1,970.00","108,918.00","145,143.00","36,225.00","1,777.51",-0.10,2017-01-01,1,0,0
12095076,3.00,4.00,"2,962.00","2,962.00","6,037.00",3.00,"34,145,202.00","-118,179,824.00","63,000.00",0101,...,"1,950.00","276,684.00","773,303.00","496,619.00","9,516.26",-0.00,2017-01-01,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12412492,2.00,4.00,"1,633.00","1,633.00","6,037.00",2.00,"33,870,815.00","-118,070,858.00","4,630.00",0100,...,"1,962.00","125,466.00","346,534.00","221,068.00","4,175.08",0.00,2017-09-19,1,0,0
11000655,2.00,2.00,"1,286.00","1,286.00","6,037.00",2.00,"34,245,368.00","-118,282,383.00","47,405.00",0100,...,"1,940.00","70,917.00","354,621.00","283,704.00","4,478.43",0.02,2017-09-20,1,0,0
17239384,2.00,4.00,"1,612.00","1,612.00","6,111.00",2.00,"34,300,140.00","-118,706,327.00","12,105.00",1111,...,"1,964.00","50,683.00","67,205.00","16,522.00","1,107.48",0.01,2017-09-21,0,0,1
12773139,1.00,3.00,"1,032.00","1,032.00","6,037.00",1.00,"34,040,895.00","-118,038,169.00","5,074.00",0100,...,"1,954.00","32,797.00","49,546.00","16,749.00",876.43,0.04,2017-09-21,1,0,0
12826780,2.00,3.00,"1,762.00","1,762.00","6,037.00",2.00,"33,937,685.00","-117,996,709.00","6,347.00",0100,...,"1,955.00","140,000.00","522,000.00","382,000.00","6,317.15",0.01,2017-09-25,1,0,0

In [21]:
# change fips to counties, create new columns for age (2017-yearbuilt), can change sqft to acerage

# create taxrate variable
zillow_df['taxrate'] = zillow_df.taxamount/zillow_df.taxvaluedollarcnt*100
# create acreage variable
zillow_df['acres'] = zillow_df.lotsizesquarefeet/43560

zillow_df['structure_dollar_per_sqft'] = zillow_df.structuretaxvaluedollarcnt/zillow_df.total_square_ft

zillow_df['land_dollar_per_sqft'] = zillow_df.landtaxvaluedollarcnt/zillow_df.lotsizesquarefeet

zillow_df['county_name'] = zillow_df['fips'].map({6037:'Los_Angeles', 6059:'Orange', 6111:'Ventura'})

In [22]:
zillow_df.head().T

parcelid,14297519,17052889,14186244,12177905,12095076
bathroomcnt,3.50,1.00,2.00,3.00,3.00
bedroomcnt,4.00,2.00,3.00,4.00,4.00
total_square_ft,"3,100.00","1,465.00","1,243.00","2,376.00","2,962.00"
finished_living_area,"3,100.00","1,465.00","1,243.00","2,376.00","2,962.00"
fips,"6,059.00","6,111.00","6,059.00","6,037.00","6,037.00"
fullbathcnt,3.00,1.00,2.00,3.00,3.00
latitude,"33,634,931.00","34,449,266.00","33,886,168.00","34,245,180.00","34,145,202.00"
longitude,"-117,869,207.00","-119,281,531.00","-117,823,170.00","-118,240,722.00","-118,179,824.00"
lotsizesquarefeet,"4,506.00","12,647.00","8,432.00","13,038.00","63,000.00"
propertycountylandusecode,122,1110,122,0101,0101
rawcensustractandblock,"60,590,630.07","61,110,010.02","60,590,218.02","60,373,001.00","60,374,608.00"
regionidcounty,"1,286.00","2,061.00","1,286.00","3,101.00","3,101.00"
regionidzip,"96,978.00","97,099.00","97,078.00","96,330.00","96,293.00"
yearbuilt,"1,998.00","1,967.00","1,962.00","1,970.00","1,950.00"
structuretaxvaluedollarcnt,"485,713.00","88,000.00","85,289.00","108,918.00","276,684.00"
taxvaluedollarcnt,"1,023,282.00","464,000.00","564,778.00","145,143.00","773,303.00"
landtaxvaluedollarcnt,"537,569.00","376,000.00","479,489.00","36,225.00","496,619.00"
taxamount,"11,013.72","5,672.48","6,488.30","1,777.51","9,516.26"
logerror,0.03,0.06,0.01,-0.10,-0.00
transactiondate,2017-01-01,2017-01-01,2017-01-01,2017-01-01,2017-01-01
taxrate,1.08,1.22,1.15,1.22,1.23
acres,0.10,0.29,0.19,0.30,1.45
structure_dollar_per_sqft,156.68,60.07,68.62,45.84,93.41
land_dollar_per_sqft,119.30,29.73,56.87,2.78,7.88
county_name,Orange,Ventura,Orange,Los_Angeles,Los_Angeles

In [23]:
train, validate, split = prepare.split_continuous(zillow_df)

train -> (28592, 25)
validate -> (12255, 25)
test -> (10212, 25)

Main Takeaways:
- Removed Nan values and dropped columns with <90% non null values. Resulted in the shape of DF becoming 
-
-
-